[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"
pytest = "*"

[packages]
authlib = "*"
httpx = "==0.16.*"
sqlalchemy = "*"
python-dotenv = "*"
anyio = "*"
tenacity = "*"
python-dateutil = "*"
tqdm = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
