[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"

[packages]
authlib = "*"
# httpx = "==0.14.1"
httpx = "==0.16.*"
sqlalchemy = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
